body {
    color: var(--light-text);
}
:root{
    /* Color styles */
--dark-bg: #2C3E50;
--bg-color: #1ABC9C;
--light-text: #FFFFFF;
--light-bg: #3A546D;
--dark-text: #333333;

}

header, #bot-footer  {
    background-color: var(--dark-bg);
}

#hero, #about {
    background-color: var(--bg-color);
    color: var(--dark-text);
}

#top-footer {
    background-color: var(--light-bg);
}

