body {
    color: var(--light-text);
}
:root{
    /* Color styles */
--dark-bg: #2C3E50;
--bg-color: #1ABC9C;
--light-text: #FFFFFF;
--light-bg: #3A546D;
--dark-text: #333333;

}

.pt-6 {
    padding-top: 6rem;
}

header, #bot-footer  {
    background-color: var(--dark-bg);
}

.navbar-dark .navbar-toggler {
    border-color: var(--light-text);
  }

#hero, #about {
    background-color: var(--bg-color);
}

.img-container {
    width: 300px;
}

.text-container {
    width: 400px;
}

.cs-btn {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    
}

.cs-btn:hover {
    border-color: white;
    background-color: white;
    color: black;
}

#portfolio, #contact {
    color: var(--dark-text);
}

.w-60 {
    width: 60%;
}

::-ms-input-placeholder {
    color: var(--dark-text);
}

.cs-btn-sub {
    background-color: var(--bg-color);
}

.card:hover::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '+';
    font-size: 7rem;
    color: var(--light-text);
    background-color: rgba(26, 188, 156, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#top-footer {
    background-color: var(--light-bg);
}

.social i {
    width: 40px;
    height: 40px;
}

.start {
    color: var(--bg-color);
}


